body{
  padding:0;
  margin:0;
  background: #efebe4;
}

.line {
	position: absolute;
	width: 5px;
	height:3px;
	margin: auto;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:black;
	-webkit-transform-origin:0% 0%; /* Chrome, Safari, Opera */
	transform-origin:0% 0%; 
	z-index:100;
}

input[type="range"] {
	position:absolute;
	-webkit-transform: rotate(270deg);
	bottom: 100px;
	right: 5px;

}
input[type=range] {
	-webkit-appearance: none;
	width: 30%;
	/*margin: 15.1px 0;*/
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5.8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 0.7px;
	border: 0.3px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1.1px 1.1px 10.9px #000000, 0px 0px 1.1px #0d0d0d;
	border: 0.6px solid #000000;
	height: 36px;
	width: 44px;
	border-radius: 39px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -15.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #86b5dd;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 5.8px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 0.7px;
	border: 0.3px solid #010101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1.1px 1.1px 10.9px #000000, 0px 0px 1.1px #0d0d0d;
	border: 0.6px solid #000000;
	height: 36px;
	width: 44px;
	border-radius: 39px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 5.8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #12293e;
	border: 0.3px solid #010101;
	border-radius: 1.4px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.3px solid #010101;
	border-radius: 1.4px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 1.1px 1.1px 10.9px #000000, 0px 0px 1.1px #0d0d0d;
	border: 0.6px solid #000000;
	height: 36px;
	width: 44px;
	border-radius: 39px;
	background: #ffffff;
	cursor: pointer;
	height: 5.8px;
}
input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
	background: #86b5dd;
}

#buttons  {
	position: absolute;
	top: 10px;
	right: 10px;
}


#x
{
}



#y
{
	width: 3px;
	height:5px;
}

#angle
{
	position:absolute;
	width:200px; 
	height:200px;
	border: 1px solid black;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	border-radius: 50%;
	-webkit-transform-origin:50% 50%; /* Chrome, Safari, Opera */
	transform-origin:50% 50%; 
	z-index:100;
}

#angle:before
{
	content:"";
	position:relative;
	left:100px;
	width: 20px;
	height:30px;
	border: 1px solid black;
}

#angle:after
{
	content:"";
	position:absolute;
	background:black;
	left:96px;
	top:96px;
	border-radius: 50%;
	width: 6px;
	height:6px;
	border: 1px solid black;
}
#guideX {
	position:absolute;
	top:0px;
	left:-1px;
	width: 50%;
	height:100%;
	border-right: 1px solid red;
}

#guideY {
	position:absolute;
	width:100%;
	height:50%;
	top:-1px;
	border-bottom: 1px solid green;
}
